@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewBag.Title = Labels.RESET_PASSWORD;
}
<div class="row-fluid">
    <div class="span6 label offset3 text-info text-center text-middle">
        <h4><b>@Messages.RESET_PASSWORD_COMPLETE</b></h4>
        <a href="@Url.AccountLogin()" class="btn btn-inverse">@Labels.LOGIN</a>
        <p></p>
    </div>
</div>

