@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewBag.Title = Labels.RECOVER_PASSWORD;
}
<div class="row-fluid">
    <div class="span6 label offset3 text-info text-center text-middle">
        <h4><b>@Messages.RESET_PASSWORD_SENT</b></h4>
    </div>
</div>

